.App{
  max-width: 512px;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 50vw;
}

.product-list-container {
  padding: 1.5rem;
  /* max-width: 800px;
  margin: 0 auto; 중앙 정렬 */
}

.list-header {
  margin-bottom: 1.5rem;
}

.list-header h1 {
  font-size: 1.75rem;
  margin: 0 0 0.5rem;
}

.list-header p {
  margin: 0;
  color: #52525b;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2개의 열을 만듭니다 */
  gap: 1rem;
}

/* 모바일 화면 대응 (화면이 640px보다 작아지면 1열로 변경)
@media (max-width: 640px) {
  .product-grid {
    grid-template-columns: 1fr;
  }
} */
